@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html {
  height: 100%;
}

body {
  background-color: #1e100a;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: 'Noto Sans Korean', Malgun Gothic, "맑은 고딕", dotum, Sans-serif;
  font-size: 14px;
  color: #333333;
}

ul, li {
  list-style: none;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #303030;

  &:hover,
  &:active,
  &:visited,
  &:link {
    color: #303030;
    text-decoration: none;
  }
}

#wrap {
  width: 100%;
  min-width: 1200px;
  min-height: 220vh; 
  height: 2800px;  // 높이를 자동으로 조정
  background: url('/img/event/bg.jpg') no-repeat center top;
  position: relative;
  overflow: auto;  // 스크롤 가능
}

#container {
  width: 100%;
  min-width: 1200px;
  height: auto;  // 높이를 자동으로 조정
  overflow: visible;  // 스크롤 제어 제거
}

#container {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;

  .event_01 {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 1015px;

    .lamp_set {
      width: 437px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      top: 647px;
      left: 50%;
      margin-left: 194px;

      div {
        width: 22px;
        height: 22px;
        margin-right: 87px;
        margin-bottom: 140px;
        background-repeat: no-repeat;

        &.lamp_red {
          background-image: url('/img/event/lamp_red.png');
        }
        &.lamp_green {
          background-image: url('/img/event/lamp_green.png');
          position: relative;

          .label {
            width: 82px;
            height: 57px;
            background-image: url('/img/event/label_done.png');
            position: absolute;
            top: 40px;
            left: -7px;
          }
        }
      }
    }

    .monitor_set {
      width: 753px;
      height: 681px;
      position: absolute;
      top: 619px;
      left: 50%;
      margin-left: -625px;
    }

    .win_01 {
      background-image: url('/img/event/bg_win_01.png');
      background-repeat: no-repeat;

      .circle_bg {
        width: 477px;
        height: 477px;
        background-image: url('/img/event/circle_bg.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 99px;
        left: 50%;
        margin-left: -238px;
      }

      .rsp {
        position: absolute;
        top: 180px;
        left: 47%;
        margin-left: -134px;
      }

    }

    .btn_set {
      position: absolute;
      top: 1321px;
      left: 50%;
      margin-left: -420px;

      .btn_start_light {
        width: 229px;
        height: 180px;
        background-image: url('/img/event/btn_start_light.png');
        background-repeat: no-repeat;
      }

      .btn_s_up {
        width: 229px;
        height: 180px;
        background-image: url('/img/event/btn_s_up.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 320px;
      }

      .btn_s_up.active {
        background-image: url('/img/event/btn_s_light.png');
      }

      .btn_r_up {
        width: 229px;
        height: 180px;
        background-image: url('/img/event/btn_r_up.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 549px;
      }

      .btn_r_up.active {
      background-image: url('/img/event/btn_r_light.png');
      }

      .btn_p_up {
        width: 229px;
        height: 180px;
        background-image: url('/img/event/btn_p_up.png');
        background-repeat: no-repeat;
        position: absolute;
        top: 0;
        left: 778px;
      }

      .btn_p_up.active {
      background-image: url('/img/event/btn_p_light.png');
      }
    }
  }
}

.right_nav {
  position: fixed;
  top: 300px;
  right: 10px;
  z-index: 4;

  ul {
    li {
      width: 160px;
      height: 50px;
      background-color: rgba(136, 130, 142, 0.2);
      color: #fff;
      border: 1px solid #131213;
      margin-bottom: 2px;
      border-radius: 3px;

      a {
        width: 100%;
        height: 100%;
        line-height: 50px;
        text-align: center;
        display: block;
        color: #fff;
        font-size: 13px;

        &:hover {
          color: #fff;
        }
      }

      &:hover,
      &.active {
        background-color: #483222;
        border: 1px solid #1d1814;
        border-radius: 3px;

        a {
          color: #fff;
        }
      }
    }
  }
}

button {
  cursor: pointer;
  background: none;
}
